<div id="navAdmin_main">
    <div>
        <a href="{{path('admin_pannel')}}"><p id="logo_navAdmin">Symfocom</p></a>
        <hr id="hr_navAdmin">
    </div>
    <div class="mt-4">
        <ul class="ulNavAdmin">
            <p class="titleUlNavAdmin">CATALOGUE</p>
            <a href="{{path('admin_category')}}"><li class="liNavAdmin">Catégories</li></a>
            <a href="{{path('admin_article')}}"><li class="liNavAdmin">Gestion des produits</li></a>
            <li class="liNavAdmin">Gestion des stocks</li>
        </ul>
        <ul class="ulNavAdmin">
            <p class="titleUlNavAdmin">VENTES</p>
            <li class="liNavAdmin">Commandes</li>
            <li class="liNavAdmin">Moyen de livraison</li>
            <li class="liNavAdmin">Moyen de payment</li>
        </ul>
        <ul class="ulNavAdmin">
            <p class="titleUlNavAdmin">CLIENTS</p>
            <li class="liNavAdmin">Gestion des clients</li>
        </ul>
        <ul class="ulNavAdmin">
            <p class="titleUlNavAdmin">MARKETING</p>
            <li class="liNavAdmin">Gestion des promotions</li>
            <li class="liNavAdmin">Gestion des Avis produit</li>
        </ul>
        <ul class="ulNavAdmin">
            <p class="titleUlNavAdmin">CONFIGURATION</p>
            <li class="liNavAdmin">caroussel d'aceceuil</li>
            <li class="liNavAdmin">Sections page d'acceuil</li>
            <li class="liNavAdmin">Information du shop</li>
            <li class="liNavAdmin">Identité visuelle</li>
        </ul>
    </div>
</div>